
*{

	margin: 0;
    padding: 0;
}


.rick {

background-image: url("https://images5.alphacoders.com/876/thumb-1920-876590.png"); 
height: 690px;
width: auto;

background-size: cover;
background-position: bottom;

}


.rocket{

background-image: url("http://www.4usky.com/data/out/61/164540922-minimal-wallpapers.jpg");
height: 500px;
width: auto;

background-size: cover;
background-position: center;

}

.wolf{

background-image: url("https://wallpaperstudio10.com/static/wpdb/wallpapers/1920x1080/169589.jpg");
height: 500px;
width: auto;

background-size: cover;
background-position: center;

}